body {
    background-color: rgb(255, 255, 255) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 20px 0px 20px;
    padding: 0px 20px 0px 20px;
}

h2 {
    margin: 20px 20px 20px 20px;
    padding: 30px 20px 20px 20px;
}

p{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Diseño de la barra de menú*/

ul.navbar {
    list-style: none;
    background-color: #e2966a;
    height: 50px ;
    padding: 20px 10px 10px 10px;
    position: static;
}

ul.navbar a {
    text-decoration: none;
    color: rgb(2, 2, 2);
    text-transform: uppercase;
}

ul.navbar li {
    display: inline-block;
    width: 24% ;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

ul.navbar a:hover{
    color: white;
}

/*Diseño formulario*/

form {
    display: block;
    max-width: fit-content;
    padding:30px;
    border-radius:10px;
    margin-bottom: 20px;
    background-color:#FCC5A5;
}

/*Diseño de logo header*/

#marca img {
    display: block;
    width: 90px;
    margin: auto;
    position: static;
    text-align: center;
}

/*Diseño imagenes de la seccion propuesta academica*/

#imagenreposteria img {
    max-width: 250px;
    margin: 0px 10px 20px 20px;
    padding: 00px 10px 30px 20px;
    position: static;
}

/*Diseño de cajas seccion propuesta academica*/

.carrera1 {
    display: inline-flex;
}

.carreras {
    border-radius:10px;
    background-color:#FCC5A5;
    margin: 10px;
}

.carrera1 p {
    padding: 0px 20px 20px 10px;
    background-color: #FCC5A5;
    margin: 0px 20px 20px 20px;
}

/*Diseño cajas seccion acerca de nosotros*/

#contenido-principal{
background-color: #FCC5A5;
color: black;
float: right;
padding: 30px;
margin-bottom: 20px;
box-sizing: border-box;
border-radius:10px;
}

#quienes-somos {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 16px;
text-align: justify;
margin-bottom: 10px;
}

#nuestra-filosogia{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
}

#razones{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
}

#datos{
    background-color: rgb(0, 0, 0);
    padding-left: 20px;
}

#datos p{
    color: rgb(255, 255, 255);
}

#redes{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;          
}

/*Diseño seccion index*/

#recetas {
    border-radius:10px;
    background-color: #FCC5A5;
    margin:10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    
}

#navidenas {
    background-color: aquamarine;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

#saludables {
    background-color: palevioletred;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

#faciles {
    background-color: red;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

#datos {
    border-radius:10px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

/*Diseño footer*/

#botonera-footer{
    color: rgb(254, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: justify;
}