body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin: 0px;
    padding: 20px 20px 10px 20px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 20px 0px 20px;
    padding: 20px 20px 10px 20px;
    text-align: left;
}

h3 {
    font-family: sans-serif;
    font-size: x-large;
    color: rgb(180, 92, 70);
    font-weight: bold;
    text-align: center;
    text-decoration:underline;
}

h4 {
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
}

p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 960px;
    margin: auto;
}

footer {
    box-sizing: border-box;
    width: 960px; 
    margin: auto;
    padding: auto;
}

/*--------------------------------------------------------------------------LOGO HEADER-------------------------------------------------------------------*/

#marca img {
    display: block;
    width: 90px;
    margin: auto;
    position: static;
    transition: width 2s;
}

#marca img:hover {
    width: 140px;
}

/*------------------------------------------------------------------------BARRA DE MENU---------------------------------------------------------------------*/

ul.navbar {
    list-style: none;
    background-color: #e2966a;
    height: 50px;
    padding: 20px 10px 10px 10px;
    position: static;
}

ul.navbar a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(2, 2, 2);
    text-transform: uppercase;
}

ul.navbar li {
    display: inline-block;
    width: 24%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;  
}

ul.navbar a:hover{
    color: white;
}

/*-----------------------------------------------------------------------------INDEX-------------------------------------------------------------------------*/

/*Seccion Noticias*/

#noticias {
    width: 960px;
    height: 1250px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #FCC5A5;
    margin: auto;
    padding: 0px 40px 30px 40px;
}

/*Imagenes y parrafos en articulo egresados*/

#egresados {
    height: 700px;
}

#imagen01 {
    background-image: url(../img/egresados.jpg);
    float: left;
    margin-top: 10px;
    background-size: cover;
    width: 450px;
    height: 320px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#parrafo01 {
    display: block;
    float: right;
    width: 400px;
    height: 320px;
    margin: 0px;
    box-sizing: border-box;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
}

#imagen02 {
    background-image: url(../img/egresados2.jpg);
    float: left;
    margin-top: 10px;
    background-size: cover;
    width: 450px;
    height: 320px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#parrafo02 {
    display: block;
    width: 400px;
    height: 320px;
    float: right;
    margin: 0px;
    box-sizing: border-box;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*Articulo Proximas Inscripciones*/

#inscripciones{
    height: 200px;
    width: 800px;
    text-align: center;   
}

#boton-propuesta-academica{
    background-color:#FCC5A5;
    width: 400px;
    margin: auto; 
    margin-bottom: 10px;
    padding: auto;
    height: 80px;
}

#texto-boton {
    font-size: 30px;
    border-radius: 40px;
    background-color:#e2966a;
    box-sizing: border-box;
    width: 450px;
    padding: 10px 0px 10px 0px;
    margin: auto;
    font-style: italic;
    text-align: center;
}

#texto-boton a {
    text-decoration: none;
}

#texto-boton :hover {
    color: rgb(255, 255, 255);
}

/* Seccion Recetas*/

#recetas {
    width: 960px;
    height: 2250px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #FCC5A5;
    margin: auto;
    padding: 0px 40px 30px 40px;
    margin-top: 20px;
}

/*Articulo Destacadas*/

#destacadas {
    height: 650px;
}

#imagen1 {
    background-image: url(../img/pizzasintacc.jpg);
    width: 400px;
    height: 300px;
    float: left;
    margin-top: 20px;
    background-size: cover;
}

#parrafo1 {
    width: 450px;
    height: 300px;
    float: right;
    font-weight: bold;
    margin: 0px;
    margin-top: 20px;
    box-sizing: border-box;
}

#parrafo1 p {
    height: auto;
    width: auto;
    font-size: 20px;
}

#imagen2 {
    width: 400px;
    height: 300px;
    background-image: url(../img/cebollasmoradasrellenas.jpg);
    background-size: cover;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

#parrafo2 {
    height: 300px;
    width: 450px;
    float: right;
    font-weight: bold;
    float: center;
    text-align: justify;
    box-sizing: border-box;
}

#parrafo2 p {
   height: auto;
   width: auto;
   font-size: 15px;
}  

/*ArticuloS Recetas Saludables*/

#saludables {
    height: 1450px;
}

#imagen3 {
    background-image: url(../img/saludables3.jpg);
    background-size: cover;
    height: 300px;
    width: 400px;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

#parrafo3 {
    height: 300px;
    width: 450px;
    float: right;
    box-sizing: border-box;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

#parrafo3 p{
    height: auto;
    width: auto;
    font-size: 20px;    
}

#imagen4 {
    height: 300px;
    width: 400px;
    background-image: url(../img/saludables2.jpg);
    background-size: cover;
    float: left;
    margin-top: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*#parrafo4 {
    font-size: 15px;
    height: 270px;
    width: 450px;
    font-weight: bold;
    margin-top: 40px;
    float: right;
    box-sizing: border-box;
}
codigo repetitivo*/

#imagen5 {
    background-image: url(../img/faciles2.jpg);
    width: 400px;
    height: 300px;
    float: left;
    background-size: cover;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*#parrafo5 {
    font-size: 15px;
    float: right;
    margin-top: 30px;
    width: 450px;
    height: 300px;
    font-weight: bold;
}
codigo repetitivo*/

#imagen6 {
    background-image: url(../img/faciles3.jpg);
    width: 400px;
    height: 300px;
    float: left;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*#parrafo6 {
    font-size: 15px;
    width: 450px;
    height: 220px;
    font-weight: bold;
    float: right;
}
codigo repetitivo*/

/*--------------------------------------------------------------------ACERCA DE NOSOTROS-¿QUIENES SOMOS?--------------------------------------------------------------*/

#contenido-principal {
    width: 960px;
    background-color: #FCC5A5;
    color: black;
    margin: auto;
    padding: 0px 40px 30px 40px;
    box-sizing: border-box;
    border-radius: 10px;
}

#quienes-somos p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
}

#nuestra-filosofia p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
}

#razones p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 10px;
}

#img1 {
    text-align: center;
    
}

#img1 img {
    width: 700px;
    border-radius: 40px;
    padding-top: 20px;
}

#img2 {
    text-align: center;
}
#img2 img {
    width: 800px;
    border-radius: 40px;
    padding-top: 20px;
}

#img3 {
    text-align: center;    
}

#img3 img {
    width: 800px;
    border-radius: 40px;
    padding-top: 20px;
}

/*-----------------------------------------------------------------------PROPUESTA ACADEMICA-----------------------------------------------------------------*/

#imagenreposteria img {
    max-width: 250px;
    margin: 10px 10px 20px 20px;
    padding: 10px 10px 30px 20px;
    position: static;
}

#academicas {
    width: 960px;
    margin: auto;
}

.carrera1 {
    display: inline-flex;
}

.carreras {
    border-radius:10px;
    background-color:#FCC5A5;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.carrera1 p {
    padding: 10px 20px 20px 10px;
    background-color: #FCC5A5;
    margin: 10px 20px 20px 20px;
}

#botoninscripcion {
    background-color: white;
    width: 960px;
    margin: auto; 
    margin-bottom: 10px;
    margin-top: 20px;
    padding: auto;
    height: 60px;
}

#botoninscripcion p {
    font-size: 30px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    width: 350px;
    padding: 10px 0px 10px 0px;
    margin: auto;
    background-color:#e2966a;
    height: 60px;
}

#botoninscripcion a {
    text-decoration: none;
}

#botoninscripcion p:hover {
    background-color: red;
    color: white;
}



/*------------------------------------------------------------------ESTUDIA CON NOSOTROS - FORMULARIO------------------------------------------------------------*/

#formulario {
    width: 960px;
    height: 850px;
    margin: auto;
    padding-bottom: 20px;
}

form {
    display: block;
    max-width: fit-content;
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    background-color:#FCC5A5;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
}

#aside img {
    width: 559px;
    border-radius: 10px;
    float: right;
    height: auto;
}

#api {
    width: 960px;
    margin: auto;
    box-sizing: border-box;
}

#maps {
    margin: auto;
    font-size: 16px;
    height: 500px;
    margin-top: 15px; 
}

/*------------------------------------------------------------------------LOGO WHATSAPP--------------------------------------------------------------------------*/
#logowpp {
    margin: auto;
}

#logowpp img {
    width: 50px;
    float: right;
}

/*----------------------------------------------------------------------------FOOTER-----------------------------------------------------------------------------*/

#botonera-footer {
    color: rgb(254, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: justify;
    width: 960px; 
}

#datos {
    background-color: rgb(0, 0, 0);
    padding-left: 20px; 
    border-radius:10px;
    padding: 10px 20px 10px 20px;
    margin: 20px 0px 0px 0px;
}

#datos p {
    color: rgb(255, 255, 255);
}
 
#redes {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;          
}

#botonera_footer ul li {
    list-style-type: none;
    display: inline-block;
}

#botonera_footer ul li a img {
    width: 30px;
}

#botonera_footer ul {
    padding: 0px;
}

/*Diseño Responsive Media Query*/
/*Modo tableta*/

@media all and (min-width: 600px) and (max-width: 1023px) {
    /*Copiar y pegar todo lo de arriba, borrar lo que esté repetido 
    de estilo. 
    Modificar tamaño de width*/

}
